html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
   height:100vh;
   overflow:hidden;
}

.custom-hover {
    color: black;
    transition: 0.3s;
}

    .custom-hover:hover {
        background-color: #1a52a6;
        color: white !important;
    }

.custom-radius {
    border-radius: 6px;
}

.custom-header {
    padding: 12px !important;
    background-color: #084298;
    color: white;
}

#sidebar {
    width: 280px;
}

.w-full{
    width:100% !important;
}

/* Desktop behavior */
@media (min-width: 992px) {
    #sidebar {
        position: static;
        transform: none !important;
        visibility: visible !important;
    }
}

/* Sidebar link styles */
.nav-link {
    color: #fff;
    border-radius: 8px;
}

    .nav-link:hover {
        background-color: #495057;
    }

    .nav-link.active {
        background-color: #0d6efd;
    }