html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    height: 100vh;
    padding-bottom:2rem;
    overflow: hidden;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*========================== Custom Class ============================*/
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.w-full {
    width: 100% !important;
}

/*=========================== Side Bar ========================*/
#sidebar {
    width: 280px;
}

/* Desktop behavior */
@media (min-width: 992px) {
    #sidebar {
        position: static;
        transform: none !important;
        visibility: visible !important;
    }
}

/* Sidebar link styles */
.nav-link {
    color: #fff;
    border-radius: 8px;
}

    .nav-link:hover {
        background-color: #495057;
    }

    .nav-link.active {
        background-color: #0d6efd;
    }

.active-menu {
    background-color: #ffffffe0;
    color: black !important;
}

/*=========================== Login/signup ========================*/
.hero-container {
    min-height: 100vh;
}

.auth-card {
    max-width: 400px;
    border-radius: 15px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: -40px;
    border: 4px solid #fff;
    object-fit: cover;
}

.toggle-link {
    cursor: pointer;
    color: #6c63ff;
    font-weight: 500;
}

.form-container {
    position: relative;
    height: 260px;
    overflow: hidden;
}

.form-box {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
}

    .form-box.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

/*=========================== employee details ========================*/
.data-table {
    height: 75vh;
    overflow: auto;
    border: 1px solid #b6afaf;
    padding: 0.8rem;
}

td.details-control {
    cursor: pointer;
}

    td.details-control::before {
        content: '+';
        font-weight: bold;
    }

tr.shown td.details-control::before {
    content: '-';
}
